@charset "UTF-8";
@font-face {
  font-family: "Rany";
  src: url(../fonts/Rany-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Rany";
  src: url(../fonts/Rany-Bold.otf);
  font-weight: 700;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rany";
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html.lock,
body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Rany";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }
}

body.lock {
  overflow: hidden;
}

body {
  background-color: #404040;
  color: #fff;
}

.title {
  font-size: 80px;
  line-height: 115%;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 60px;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 35px;
  }
}

.top {
  margin: 100px 0px 0px 0px;
}
.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992.98px) {
  .top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.col-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.col-top__left {
  width: 100%;
}
.col-top__image {
  max-width: 414px;
  max-height: 558px;
}
@media (max-width: 992.98px) {
  .col-top__image {
    margin: 0px 0px 50px 0px;
  }
}
.col-top__image img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}
.col-top__hello {
  text-align: center;
  padding: 0px 30px;
}
.col-top__hello h1 {
  font-size: 43px;
  line-height: 116.2790697674%;
  max-width: 534px;
  font-weight: 500;
}
@media (max-width: 992.98px) {
  .col-top__hello h1 {
    font-size: 30px;
  }
}
@media (max-width: 479.98px) {
  .col-top__hello h1 {
    font-size: 25px;
  }
}

.skills__body {
  margin: 70px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 50px 0px;
}
.skills__title {
  margin: 30px 0px 0px 0px;
}
.items-skills__body {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .items-skills__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.items-skills__item {
  margin: 0px 180px 0px 0px;
}
@media (max-width: 767.98px) {
  .items-skills__item {
    margin: 0px 100px 0px 0px;
  }
}
@media (max-width: 600px) {
  .items-skills__item {
    margin: 0px 70px 0px 0px;
  }
}
@media (max-width: 535px) {
  .items-skills__item {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .items-skills__item {
    margin: 0px 0px 30px 0px;
  }
}
.items-skills__item:last-child {
  margin: 0px 0px 0px 0px;
}

.item-skills__body {
  width: 100px;
}
.item-skills__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.port__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.port__title {
  text-align: center;
}
.port__items {
  margin: 40px 0px 0px 0px;
}

.items-port__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-port__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 30px;
}
.item-port__image {
  max-width: 540px;
}
.item-port__image img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item-port__title {
  margin: 20px 0px 20px 0px;
}
.item-port__title h3 {
  font-size: 70px;
  font-weight: 700;
}
.item-port__link {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item-port__link:hover {
  color: #cecece;
  text-decoration: underline;
}
.item-port__link-image img:hover {
  opacity: 0.8;
}