@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html.lock,
body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1266px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1278px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }
}

body.lock {
  overflow: hidden;
}

.header {
  background-color: #000;
  position: relative;
}
.header__middle {
  position: relative;
  z-index: 1;
}
.header__bottom {
  margin: 0px 0px 80px 0px;
  position: relative;
  z-index: 1;
}
@media (max-width: 550px) {
  .header__bottom {
    margin: 0px 0px 30px 0px;
  }
}
.header__background img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 0px 0px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    position: fixed;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    min-width: 100%;
    min-height: 120%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.menu__list.active {
  opacity: 1;
  visibility: visible;
}
.menu__item {
  margin: 0px 34px 0px 0px;
  position: relative;
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 40px 0px;
  }
}
.menu__item::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: -2px;
  left: -60%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu__item:hover::after {
  width: 110%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #fff;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 35px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 6;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    display: block;
    height: 10%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon span {
    top: 50%;
    width: 80%;
    left: 50%;
    -webkit-transform: scale(1) translateY(-50%) translateX(-50%);
            transform: scale(1) translateY(-50%) translateX(-50%);
  }
  .menu__icon.active span {
    width: 0%;
  }
  .menu__icon::before {
    top: 0;
    right: 0;
    width: 100%;
  }
  .menu__icon::after {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .menu__icon.active::before {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-37deg);
            transform: rotate(-37deg);
  }
  .menu__icon.active::after {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate(37deg);
            transform: rotate(37deg);
  }
}

.middle-header {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
}
.middle-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 153px 0px 0px 140px;
}
@media (max-width: 992.98px) {
  .middle-header__body {
    margin: 100px 0px 0px 45px;
  }
}
@media (max-width: 570px) {
  .middle-header__body {
    margin: 50px 0px 0px 0px;
  }
}
.middle-header__uptitle {
  font-size: 11px;
  line-height: 136.3636363636%;
  color: #999;
  letter-spacing: 0.2px;
  margin: 0px 0px 0px 23px;
}
.middle-header__title {
  font-size: 114px;
  line-height: 109.649122807%;
  color: #fff;
}
@media (max-width: 767.98px) {
  .middle-header__title {
    font-size: 80px;
  }
}
@media (max-width: 550px) {
  .middle-header__title {
    font-size: 50px;
  }
}
.middle-header__title p:last-child {
  margin: 0px 0px 0px 185px;
}
@media (max-width: 550px) {
  .middle-header__title p:last-child {
    margin: 0px 0px 0px 100px;
  }
}

.middle-header.active {
  opacity: 0;
}

.bottom-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 176px 0px 0px 0px;
}
@media (max-width: 550px) {
  .bottom-header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bottom-header__left-text {
  color: #fff;
  font-size: 20px;
  line-height: 137%;
  padding: 0px 20px 0px 0px;
}
@media (max-width: 767.98px) {
  .bottom-header__left-text {
    font-size: 17px;
  }
}
.bottom-header__right-text p:first-child {
  color: #fff;
  font-size: 20;
  line-height: 110%;
}
@media (max-width: 550px) {
  .bottom-header__right-text p:first-child {
    margin: 15px 0px 0px 0px;
  }
}
.bottom-header__right-text p:last-child {
  font-size: 11px;
  line-height: 145.4545454545%;
  color: rgba(255, 255, 255, 0.4);
}

.help__body {
  margin: 0px 0px 162px 0px;
}
@media (max-width: 992.98px) {
  .help__body {
    margin: 0px 0px 130px 0px;
  }
}
@media (max-width: 767.98px) {
  .help__body {
    margin: 0px 0px 80px 0px;
  }
}
@media (max-width: 479.98px) {
  .help__body {
    margin: 0px 0px 50px 0px;
  }
}
.help__title {
  font-size: 10px;
  color: #E8244F;
  line-height: 340%;
  margin: 86px 0px 0px 0px;
}
@media (max-width: 992.98px) {
  .help__title {
    margin: 60px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .help__title {
    margin: 40px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .help__title {
    margin: 20px 0px 0px 0px;
  }
}
.items-help__item:last-child {
  margin: 0px 0px 30px 0px;
}

.item-help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 0px 0px 0px;
}
@media (max-width: 992.98px) {
  .item-help__body {
    margin: 60px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .item-help__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0px 0px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
  }
}
.item-help__title {
  font-size: 46px;
  line-height: 119.5652173913%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 992.98px) {
  .item-help__title {
    font-size: 35px;
  }
}
@media (max-width: 767.98px) {
  .item-help__title {
    font-size: 46px;
  }
}
@media (max-width: 530px) {
  .item-help__title {
    font-size: 35px;
  }
}
.item-help__subtitle {
  line-height: 131.25%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 0px 10px;
}
@media (max-width: 992.98px) {
  .item-help__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .item-help__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 530px) {
  .item-help__subtitle {
    font-size: 14px;
  }
}
@-webkit-keyframes button-arrow {
  20% {
    border-right: 0px;
  }
  40% {
    border-bottom: 0px;
    border-right: 1px;
  }
  60% {
    border-left: 0px;
    border-bottom: 1px;
  }
  80% {
    border-top: 0px;
    border-left: 1px;
  }
  100% {
    border: 1px solid #000;
  }
}
@keyframes button-arrow {
  20% {
    border-right: 0px;
  }
  40% {
    border-bottom: 0px;
    border-right: 1px;
  }
  60% {
    border-left: 0px;
    border-bottom: 1px;
  }
  80% {
    border-top: 0px;
    border-left: 1px;
  }
  100% {
    border: 1px solid #000;
  }
}
.item-help__icon {
  width: 43px;
  height: 43px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.item-help__icon:active {
  background-color: #f6f6f6;
}
.item-help__icon:hover {
  border-right: 0px;
  -webkit-animation: button-arrow forwards;
          animation: button-arrow forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.item-help__icon span {
  display: block;
  width: 35%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.item-help__icon::after {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%) translateX(-30%) rotate(45deg);
          transform: translateY(-50%) translateX(-30%) rotate(45deg);
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.item-help__icon::before {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%) translateX(-30%) rotate(-45deg);
          transform: translateY(-50%) translateX(-30%) rotate(-45deg);
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.item-help__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .item-help__right-side {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 15px 0px 20px 0px;
  }
}

.row-history__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .row-history__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .row-history__body:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.row-history__body.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .row-history__body.right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992.98px) {
  .row-history__body.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 767.98px) {
  .row-history__body.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992.98px) {
  .row-history__body.column-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .row-history__body.column-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.row-history__title {
  font-size: 114px;
  line-height: 107.0175438596%;
}
@media (max-width: 992.98px) {
  .row-history__title {
    font-size: 90px;
  }
}
@media (max-width: 767.98px) {
  .row-history__title {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 479.98px) {
  .row-history__title {
    font-size: 60px;
  }
}
.row-history__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  line-height: 135.2941176471%;
  max-width: 569px;
}
@media (max-width: 1278px) {
  .row-history__text {
    max-width: 430px;
  }
}
@media (max-width: 992.98px) {
  .row-history__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .row-history__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.row-history__text.right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992.98px) {
  .row-history__text.right {
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    margin: 0px 0px 30px 0px;
  }
}
.row-history__text p:last-child {
  margin: 15px 0px 0px 0px;
}
@media (max-width: 992.98px) {
  .row-history__text p:last-child {
    margin: 0px 0px 45px 50px;
  }
}
@media (max-width: 767.98px) {
  .row-history__text p:last-child {
    margin: 15px 0px 30px 0px;
  }
}
.row-history__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .row-history__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-history__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767.98px) {
  .item-history__body {
    margin: 0px 0px 30px 0px;
  }
}
.item-history__body:last-child {
  padding: 0px 0px 0px 15px;
}
.item-history__image {
  max-width: 294px;
  max-height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1278px) {
  .item-history__image {
    max-width: 227px;
  }
}
.item-history__image img {
  width: 100%;
  height: 100%;
}
.item-history__text {
  max-width: 294px;
}
@media (max-width: 1278px) {
  .item-history__text {
    max-width: 210px;
  }
}

.respect__title {
  color: #E8244F;
  font-size: 10px;
  line-height: 340%;
  margin: 157px 0px 0px 0px;
}
@media (max-width: 1278px) {
  .respect__title {
    margin: 120px 0px 0px 0px;
  }
}
@media (max-width: 992.98px) {
  .respect__title {
    margin: 90px 0px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .respect__title {
    margin: 60px 0px 0px 0px;
  }
}
.respect__row {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(253px, 1fr));
      grid-template: 1fr 1fr;
  margin: 0px 0px 30px 0px;
  text-align: center;
}
.inovation {
  background-color: #000;
  position: relative;
}
.inovation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 160px 0px 375px 0px;
}
@media (max-width: 992.98px) {
  .inovation__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 90px 0px 290px 0px;
  }
}
@media (max-width: 650px) {
  .inovation__body {
    margin: 90px 0px 200px 0px;
  }
}
.inovation__titles {
  padding: 15px 0px 0px 0px;
}
@media (max-width: 992.98px) {
  .inovation__titles {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }
}
.inovation__items {
  margin: 0px 0px 0px 20%;
}
@media (max-width: 992.98px) {
  .inovation__items {
    margin: 0px 0px 0px 0%;
  }
}
@media (max-width: 767.98px) {
  .inovation__items {
    padding: 0px 20px;
  }
}

@media (max-width: 992.98px) {
  .titles-inovation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.titles-inovation__item {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 992.98px) {
  .titles-inovation__item {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 450px) {
  .titles-inovation__item {
    margin: 0px 10px 0px 0px;
  }
}
.titles-inovation__item:last-child {
  margin: 0px 0px 0px 0px;
}
.titles-inovation__link {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 992.98px) {
  .titles-inovation__link {
    font-size: 18px;
  }
}
.titles-inovation__link.active {
  color: #E8244F;
}

.items-inovation__item {
  display: none;
}
.items-inovation__item.active {
  display: block;
}

.item-inovation__body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 534px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-inovation__title {
  font-size: 58px;
  line-height: 120.6896551724%;
}
@media (max-width: 650px) {
  .item-inovation__title {
    font-size: 40px;
  }
}
.item-inovation__text {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  line-height: 130%;
}
.item-inovation__button {
  margin: 22px 0px 0px 0px;
}
.item-inovation__link {
  color: #fff;
  position: relative;
}
.item-inovation__link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: -60%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item-inovation__link:hover::after {
  width: 110%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.inovation__bottom-text {
  cursor: default;
}

.text-bottom-inovation {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.text-bottom-inovation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-bottom-inovation__item {
  color: #fff;
  font-size: 114px;
  line-height: 129.8245614035%;
  margin: 0px 54px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 1278px) {
  .text-bottom-inovation__item {
    font-size: 90px;
  }
}
@media (max-width: 992.98px) {
  .text-bottom-inovation__item {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .text-bottom-inovation__item {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  .text-bottom-inovation__item {
    font-size: 30px;
  }
}
.text-bottom-inovation__item.active {
  color: #E8244F;
}
.text-bottom-inovation__item:last-child {
  margin: 0px 0px 0px 0px;
}

.insp__body {
  margin: 122px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .insp__body {
    margin: 90px 0px 0px 0px;
  }
}
.row-insp__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .row-insp__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 0px;
  }
}
@media (max-width: 600px) {
  .row-insp__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .row-insp__body .row-insp__item {
    margin: 40px;
  }
}
.row-insp__body-middle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .row-insp__body-middle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .row-insp__body-middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.row-insp__body-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .row-insp__body-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.row-insp__smalltext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
}
@media (max-width: 767.98px) {
  .row-insp__smalltext {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0px 0px 40px 0px;
  }
}
.row-insp__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .row-insp__items {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .row-insp__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.row-insp__items .row-insp__item:first-child {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 1278px) {
  .row-insp__items .row-insp__item:first-child {
    margin: 0px 26px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .row-insp__items .row-insp__item:first-child {
    margin: 40px;
  }
}
.row-insp__bigtext {
  margin: 57px 0px 0px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}
@media (max-width: 1278px) {
  .row-insp__bigtext {
    margin: 0px 0px 0px 90px;
  }
}
@media (max-width: 600px) {
  .row-insp__bigtext {
    margin: 0px 0px 0px 0px;
  }
}
.row-insp__body-middle .row-insp__item {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 767.98px) {
  .row-insp__body-middle .row-insp__item {
    margin: 40px;
  }
}
.row-insp__body-middle .row-insp__item:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .row-insp__body-middle .row-insp__item:last-child {
    margin: 40px;
  }
}

.item-insp__image {
  max-width: 294px;
  max-height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1278px) {
  .item-insp__image {
    max-width: 222.5px;
    max-height: 222.5px;
  }
}
@media (max-width: 992.98px) {
  .item-insp__image {
    width: 172.5px;
    height: 172.5px;
  }
}
@media (max-width: 600px) {
  .item-insp__image {
    width: 294px;
    height: 294px;
  }
}
.item-insp__image img {
  width: 100%;
  height: 100%;
}
.item-insp__subtitle {
  font-size: 10px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 0px 0px 6px;
}
@media (max-width: 767.98px) {
  .item-insp__subtitle {
    max-width: 170px;
  }
}
.item-insp__title {
  font-size: 12px;
  line-height: 141.6666666667%;
  margin: 4px 0px 0px 0px;
}

.bigtext-insp__title {
  font-size: 114px;
  line-height: 107.0175438596%;
}
@media (max-width: 992.98px) {
  .bigtext-insp__title {
    font-size: 60px;
  }
}
.bigtext-insp__subtitle {
  margin: 37px 0px 0px 0px;
  font-size: 20px;
  line-height: 130%;
}

.thoughts__body {
  position: relative;
  height: 470px;
  overflow: hidden;
  margin: 72px 0px 130px 0px;
}
@media (max-width: 1278px) {
  .thoughts__body {
    height: 430px;
    margin: 60px 0px 60px 0px;
  }
}
@media (max-width: 992.98px) {
  .thoughts__body {
    height: 350px;
    margin: 45px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .thoughts__body {
    height: 270px;
  }
}
@media (max-width: 576px) {
  .thoughts__body {
    height: 230px;
  }
}
@media (max-width: 479.98px) {
  .thoughts__body {
    height: 190px;
  }
}
.thoughts__row-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}
.thoughts__row-middle {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 200%;
  -webkit-transform: translateY(-50%) translateX(-20%);
          transform: translateY(-50%) translateX(-20%);
}
.thoughts__row-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.thought__text {
  font-size: 114px;
  line-height: 100%;
  color: #888;
  margin: 0 60px;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
@media (max-width: 1278px) {
  .thought__text {
    font-size: 90px;
  }
}
@media (max-width: 992.98px) {
  .thought__text {
    font-size: 70px;
  }
}
@media (max-width: 767.98px) {
  .thought__text {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .thought__text {
    font-size: 40px;
  }
}
@media (max-width: 479.98px) {
  .thought__text {
    font-size: 30px;
  }
}
.thought__text.active {
  color: #000;
}

.ready__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 115px 0px;
}
@media (max-width: 767.98px) {
  .ready__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .col-ready-left__body {
    margin: 0 30px;
  }
}
.col-ready-left__text {
  font-size: 46px;
  line-height: 123.9130434783%;
  max-width: 546px;
  margin: 100px 0px 0px 0px;
}
@media (max-width: 1278px) {
  .col-ready-left__text {
    max-width: 408px;
  }
}
@media (max-width: 992.98px) {
  .col-ready-left__text {
    max-width: 305px;
    font-size: 35px;
  }
}
@media (max-width: 767.98px) {
  .col-ready-left__text {
    max-width: 100%;
    font-size: 40px;
    margin: 60px 0px 0px 0px;
  }
}
.col-ready-left__image {
  margin: 39px 130px 0px 0px;
}
@media (max-width: 992.98px) {
  .col-ready-left__image {
    margin: 39px 70px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .col-ready-left__image {
    margin: 39px 0px;
  }
}
.col-ready-left__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .col-ready-right__body {
    margin: 0 30px;
  }
}
.col-ready-right__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.col-ready-right__text {
  max-width: 538px;
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  line-height: 125%;
}
@media (max-width: 992.98px) {
  .col-ready-right__text {
    max-width: 350px;
  }
}
@media (max-width: 767.98px) {
  .col-ready-right__text {
    max-width: 100%;
  }
}
.col-ready-right__signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0px 0px 0px;
}
@media (max-width: 1278px) {
  .col-ready-right__signs {
    margin: 60px 0px 0px 0px;
  }
}
@media (max-width: 580px) {
  .col-ready-right__signs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .col-right-col__body {
    margin: 0 20px;
  }
}
.col-right-col__image {
  height: 80px;
}
@media (max-width: 992.98px) {
  .col-right-col__image {
    height: 60px;
  }
}
@media (max-width: 767.98px) {
  .col-right-col__image {
    height: 80px;
  }
}
@media (max-width: 580px) {
  .col-right-col__image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px 0px 0px 0px;
  }
}
.col-right-col__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.col-right-col__name {
  margin: 30px 0px 0px 0px;
  line-height: 131.25%;
}

.footer {
  background-color: #000;
  color: #fff;
}
.footer__body {
  margin: 97px 0px 43px 0px;
}
.footer__uptext {
  font-size: 10px;
  line-height: 340%;
}
@media (max-width: 479.98px) {
  .footer__uptext {
    font-size: 14px;
  }
}
.footer__contacts {
  margin: 64px 0px 0px 0px;
  font-size: 65px;
  line-height: 150.7692307692%;
}
@media (max-width: 600px) {
  .footer__contacts {
    font-size: 50px;
  }
}
@media (max-width: 479.98px) {
  .footer__contacts {
    font-size: 45px;
  }
}
.footer__adress-block {
  margin: 145px 0px 0px 0px;
}
@media (max-width: 992.98px) {
  .footer__adress-block {
    margin: 100px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .footer__adress-block {
    margin: 60px 0px 0px 0px;
  }
}
.adress-block-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .adress-block-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.adress-block-footer__adress {
  font-size: 20px;
  line-height: 165%;
}
@media (max-width: 600px) {
  .adress-block-footer__social {
    margin: 30px 0px 0px 0px;
  }
}

.social-adress-block-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-adress-block-footer__item {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.social-adress-block-footer__item:hover {
  border: 1px solid #fff;
}
.social-adress-block-footer__item:first-child {
  margin: 0px 43px 0px 0px;
}
.copy-block-footer__body {
  margin: 229px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 141.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992.98px) {
  .copy-block-footer__body {
    margin: 165px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .copy-block-footer__body {
    margin: 80px 0px 0px 0px;
  }
}
.left-block-copy-block-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left-block-copy-block-footer__item:first-child {
  margin: 0px 86px 0px 0px;
}
@media (max-width: 479.98px) {
  .left-block-copy-block-footer__item:first-child {
    margin: 0px 20px 0px 0px;
  }
}