@import "null.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular);

//------------------------------------------Const

$md1: 1100px;
$md2: 767px;
$md3: 576px;


//-----------------

.navigation {

   &__body {
      width: 100vw;
      height: 50px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__link {
      color: #272727;
      font-size: 25px;
      line-height: 32 / 25 * 100%;
      font-weight: 700;
      position: relative;
   }

   &__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 3px;
      transition: all 0.5s ease 0s;
      z-index: 3;
      transform: translateX(-50%);
      background-color: #272727;
   }

   &__link:hover::after {
      width: 100%;
   }
}


//---------------------


body {
   background-color: #E5E5E5;
   font-family: Poppins;
   font-weight: 400;
   color: #4B321D;
}

body._lock {
   overflow: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   padding: 0 20px;
   overflow: hidden;
   margin: 0 auto;
}

.container {
   max-width: 1340px;
   margin: 0 auto;
}

.title {
   font-size: 80px;
   line-height: 100 / 80 * 100%;
}

@media (max-width: 1100px) {
   .title {
      font-size: 65px;
   }
}

@media (max-width: 767px) {
   .title {
      font-size: 40px;
   }
}

@media (max-width: 576px) {
   .title {
      font-size: 33px;
   }
}

.btn {

   &__link {
      transition: all 0.3s ease 0s;
      font-size: 20px;
      padding: 11px 17px;
      border: 3px solid #4B321D;
      border-radius: 5px;
      color: #4B321D;
   }

   &__link:hover {
      color: #7d4b22;
      border: 3px solid #7d4b22;
      text-decoration: underline;
   }

   @media (max-width: 767px) {
      &__link {
         font-size: 25px;
      }
   }

   @media (max-width: 576px) {
      &__link {
         font-size: 30px;
      }
   }
}

.btn:hover {
   border-color: rgba(75, 50, 29, 0.9);
}

//.ibg {
//   position: absolute;
//   width: 100%;
///   height: 100%;
//   object-fit: cover;
//}


.content {
   flex: 1 1 auto;
}

.footer {}



//---------------------------------------HEADER

.header {

   &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      align-items: center;
   }

   &__logo {}

   &__menu {}
}

.container {}

.menu {

   &__icon {
      display: none;
   }

   &__list {
      display: flex;
   }

   &__item {
      padding-right: 36px;
   }

   &__item:last-child {
      padding-right: 0px;
      margin-right: 343px;
   }

   &__link {
      color: #4B321D;
      font-size: 18px;
      line-height: 29 / 18 * 100%;
      padding-right: 36px;
      transition: all 0.3s ease 0s;
   }

   &__link:hover {
      text-decoration: underline;
      color: #734a29;
   }

   @media (max-width: 1100px) {
      &__item:last-child {
         padding-right: 0px;
         margin-right: 250px;
      }
   }

   @media (max-width: 992px) {
      &__item:last-child {
         padding-right: 0px;
         margin-right: 90px;
      }
   }

   @media (max-width: 767px) {
      &__item {
         padding-right: 25px;
      }

      &__item:last-child {
         padding-right: 0px;
         margin-right: 20px;
      }


   }

   @media (max-width: 661px) {
      &__icon {
         display: block;
         width: 30px;
         height: 20px;
         z-index: 10;
         position: relative;
         cursor: pointer;
      }

      &__icon span,
      &__icon::before,
      &__icon::after {
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background-color: #4B321D;
      }

      &__icon::before,
      &__icon::after {
         content: "";
      }

      &__icon::before {
         top: 0;
      }

      &__icon::after {
         bottom: 0;
      }

      &__icon span {
         top: 50%;
         transform: scale(1) translate(0px, -50%);
      }

      &__list {
         position: fixed;
         top: 0;
         left: 0;
         min-width: 100%;
         min-height: 100%;
         background-color: rgba(255, 255, 255, 0.9);
         flex-direction: column;
         justify-content: space-evenly;
         z-index: 9;
         transition: left 0.3s ease 0s;
         overflow: auto;
         left: -100%;
         align-items: center;
      }

      &__icon._active span {
         transform: scale(0) translate(0px, -50%);

      }

      &__icon._active::before {
         top: 50%;
         transform: rotate(-45deg) translate(0px, -50%);
      }

      &__icon._active::after {
         bottom: 50%;
         transform: rotate(45deg) translate(0px, 50%);
      }

      &__list._active {
         left: 0;
      }

      &__item {
         padding-right: 0;
         margin-right: 0;
      }
   }
}

//------------------TOP

.top {

   &__container {}

   &__body {
      padding-top: 124px;

      padding-bottom: 90px;
   }

   &__title {
      max-width: 1269px;
      padding-bottom: 136px;
   }

   &__image {
      text-align: center;
      max-width: 1400px;
      max-height: 928px;
   }

   &__image img {
      border-radius: 16px;
      margin: 0 -40px;
      width: 100%;
      height: 100%;
   }

   @media (max-width: 1100px) {
      &__body {
         padding-top: 70px;
         padding-bottom: 60px;
      }

      &__title {
         padding-bottom: 90px;
      }
   }

   @media (max-width: 767px) {
      &__body {
         padding-top: 40px;
         padding-bottom: 40px;
      }

      &__title {
         padding-bottom: 50px;
      }
   }

   @media (max-width: 576px) {
      &__body {
         padding-top: 30px;
         padding-bottom: 30px;
      }

      &__title {
         padding-bottom: 40px;
      }
   }
}

//----------------------------HELP

.help {

   &__container {}

   &__title {}

   &__btn {
      padding-top: 67px;
      margin-bottom: 90px;
   }

   @media (max-width: 767px) {
      &__btn {
         padding-top: 50px;
         margin-bottom: 50px;
      }
   }

   @media (max-width: 576px) {
      &__btn {
         padding-top: 40px;
         margin-bottom: 80px;
         text-align: center;
      }
   }
}

//----------------------MIDDLE

.middle {

   &_img {
      max-width: 590px;
      max-height: 886px;
   }

   &_img img {
      border-radius: 16px;
      margin-bottom: 90px;
      width: 100%;
   }

   &__container {}

   &__row {
      display: flex;
   }

   &__row-down {}

   &__text {
      width: 100%;
   }

   @media (max-width: $md2) {
      &_img img {
         margin-bottom: 60px;
      }
   }

   @media (max-width: $md3) {
      &__row {
         display: flex;
         flex-direction: column;
      }

      &__row-down {
         flex-direction: column-reverse;
      }

      &_img img {
         margin-bottom: 30px;
      }
   }
}

.text {



   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
   }

   &__body-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
   }

   &__title {
      padding-bottom: 45px;
      font-size: 38px;
      line-height: 44 / 38 * 100%;
   }

   &__title-up {

      padding-left: 100px;
   }

   &__title-down {
      padding-right: 100px;
      max-width: 630px;
   }

   &__btn {}

   @media (max-width: $md2) {
      &__title {
         font-size: 30px;
      }
   }

   @media (max-width: $md3) {
      &__title-up {
         padding-left: 0px;
      }

      &__title-down {
         padding-right: 0px;
      }

      &__btn {
         margin-bottom: 50px;
      }

      &__body-down {
         align-items: center;
         text-align: center;
      }
   }
}

//-------------------------RATE

.rate {
   color: #fff;
   background-color: #4B321D;
   border-radius: 16px;

   &__container {
      padding: 0 20px;
   }

   &__title {
      padding-top: 90px;
   }

   &__subtitle {
      padding-top: 45px;
      margin-bottom: 110px;
      font-size: 26px;
      line-height: 36 / 26 * 100%;
   }

   @media (max-width: $md2) {
      &__title {
         padding-top: 70px;
         font-size: 35px;
      }

      &__subtitle {
         padding-top: 30px;
         margin-bottom: 50px;
         font-size: 20px;
      }
   }

   @media (max-width: $md3) {
      &__title {
         padding-top: 70px;
         font-size: 30px;
      }

      &__subtitle {
         padding-top: 30px;
         margin-bottom: 50px;
         font-size: 16px;
      }
   }
}

//------------------------------------TALK

.talk {

   &__container {}

   &__title {
      padding-top: 84px;
   }

   &__btn {
      padding-top: 56px;
      margin-bottom: 90px;
   }

   @media (max-width: $md2) {
      &__title {
         padding-top: 60px;
      }

      &__btn {
         padding-top: 40px;
         margin-bottom: 70px;
      }
   }
}

//-------------------------------FOOTER

.footer {

   font-size: 18px;

   &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
   }

   &__col {
      display: flex;
      flex-direction: column;

   }

   &__left-part {}

   &__right-part {
      display: flex;
   }


}

.col-footer {

   &__body-1 {
      padding-bottom: 81px;
   }

   &__title {}

   &__subtitle {}

   &__link {
      line-height: 27 / 18 * 100%;
   }

   &__logo {
      margin-bottom: 100px;
   }

   &__body-2 {}

   &__body-3 {
      padding: 0 179px;
   }

   &__list {}

   &__item {}

   @media (max-width: $md1) {
      &__body-3 {
         padding: 0 58px;
      }
   }

   @media (max-width: $md2) {
      &__body-3 {
         padding: 0 30px;
      }
   }

   @media (max-width: $md3) {
      &__body-3 {
         padding: 0px 0px;
      }
   }

   @media (max-width: 415px) {
      &__body-3 {
         padding: 30px 0px;
      }
   }
}

.right-part {
   &__body {
      display: flex;
   }

   @media (max-width: $md2) {
      &__body {
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }

   @media (max-width: $md3) {
      &__body {}
   }
}